{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'entry_add' %}">Добавить запись</a></li>
{% endblock %}

{% block content %}
    <h1>Гостевая книга</h1>
    {% for entry in entries %}
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="title_icons">
                    <h3 class="card-title">{{ entry.name }}</h3>
                    <a class="icons" href="{% url 'entry_edit' entry.pk %}"><i class="fas fa-pencil-alt"></i></a>
                    <a class="icons" href="{%  url 'entry_delete' entry.pk %}"><i class="far fa-trash-alt"></i></a>
                </div>
                <p class="card-text">{{ entry.text }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

